{% load static %}
{% load humanize %}
<!doctype html>
<html lang="en">

{% include 'web/head.html' %}
<body class="theme-blue">

	{% comment %} <div class="page-loader-wrapper">
		<div class="loader">
			<div class="m-t-30"><i class="fa fa-cube font-25"></i></div>
			<p>Please wait...</p>
		</div>
	</div> {% endcomment %}

	<div class="overlay"></div>
	<div id="wrapper">
		{% include 'web/nav.html' %}
		
		{% include 'web/sidebar.html' %}
		<div id="main-content">
			<div class="block-header">
				<div class="row clearfix">
					<div class="col-md-6 col-sm-12">
						<h2>User List</h2>
					</div>
					<div class="col-md-6 col-sm-12 text-right hidden-xs">
						<a href="javascript:void(0);" class="btn btn-sm btn-primary btn-round" title="">Add New</a>
					</div>
				</div>
			</div>
			<div class="container-fluid">
				<div class="row clearfix">
					<div class="col-lg-12">
						<div class="table-responsive invoice_list mb-4">
							<table class="table table-hover js-basic-example dataTable table-custom spacing8">
								<thead>
									<tr>
										<th style="width: 20px;">#</th>
										<th>Client</th>
										<th style="width: 50px;">Balance</th>
										<th style="width: 50px;">Status</th>
										<th style="width: 50px;">Account Type</th>
										<th style="width: 110px;">Action</th>
									</tr>
								</thead>
								<tbody>
								{% for u in users %}
								{% if u.is_superuser == False %}
									<tr>
										<td>
											<span>{{forloop.counter}}</span>
										</td>
										<td>
											<div class="d-flex align-items-center">
												<div class="avtar-pic w35 bg-red" data-toggle="tooltip" data-placement="top" title="Avatar Name"><span>SS</span></div>
												<div class="ml-3">
													<a href="page-invoices-detail.html" title="">{{user.mobile}}</a>
													{% for w in wallet %}
														{% if w.mobile == u.mobile %}
															<p class="mb-0">{{w.acctno}}</p>
															<p class="mb-0">{{w.bank}}</p>
														{% endif %}
													{% endfor %}
												</div>
											</div>
										</td>
										{% for w in wallet %}
											{% if w.mobile == u.mobile %}
												<td>₦ {{w.bal|intcomma}}</td>
											{% endif %}
										{% endfor %}
										<td>
											{% if is_active == true %}
												<span class="badge badge-success ml-0 mr-0">ACTIVE</span>
											{% else %}
												<span class="badge badge-danger ml-0 mr-0">NOT ACTIVE</span>
											{% endif %}
										</td>
										<td><span class="badge badge-success ml-0 mr-0">{{u.role|upper}}</span></td>
										<td>
											<button type="button" class="btn btn-sm btn-default" title="Send Invoice" data-toggle="tooltip" data-placement="top"><i class="icon-envelope"></i></button>
											<button type="button" class="btn btn-sm btn-default" title="Delete" data-toggle="tooltip" data-placement="top"><i class="icon-paper-plane"></i></button>
										</td>
									</tr>
								{% endif %}
								{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<script src="{% static 'assets/vendor/jquery/jquery-3.3.1.min.js'%}" type="text/javascript"></script>
	<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}" type="text/javascript"></script>
	<script src="{% static 'assets/bundles/vendorscripts.bundle.js'%}" type="text/javascript"></script>
	<script src="{% static 'assets/bundles/datatablescripts.bundle.js'%}" type="text/javascript"></script>
	<script src="{% static 'assets/js/common.js'%}" type="text/javascript"></script>
	<script src="{% static 'assets/js/pages/tables/invoice.js'%}" type="text/javascript"></script>
	</body>
	</html>
