{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'merchant/assets/images/favicon.png'%}">
    <title>Just USSD Merchant - Login</title>
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'merchant/assets/plugins/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
    <script src="{% static 'merchant/jquery-1.9.1.min.js'%}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'merchant/css/toastr.css' %}" media="all">
    <script type="text/javascript" src="{% static 'merchant/js/toastr.min.js' %}"></script>  
    <!-- Custom CSS -->
    <link href="{% static 'merchant/css/style.css'%}" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="{% static 'merchant/css/colors/blue.css'%}" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <section id="wrapper">
        <div class="login-register" style="background-image:url({% static 'merchant/assets/images/background/login-register.jpg'%});">
            <div class="login-box card">
                <div class="card-body">
                    <form class="form-horizontal form-material" id="loginform" method="POST" action="/merchant/login">
                        {% csrf_token %}
                        <a href="/" class="text-center db">
                            <img src="{% static 'merchant/assets/images/logo-icon.png'%}" alt="Home" /><br/>
                            <img src="{% static 'merchant/assets/images/logo-text.png'%}" alt="Home" /><br/>
                        </a><br>
                        {% if messages %}
                            {% for message in messages %}
                                {% if message.tags == 'success'%}
                                    <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
                                {% elif message.tags == 'info' %}
                                    <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
                                {% elif message.tags == 'warning' %}
                                    <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
                                {% elif message.tags == 'error' %}
                                    <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <div class="form-group ">
                            <div class="col-xs-12">
                                <input class="form-control" type="email" name="email" required="" placeholder="Email"> </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input class="form-control" type="password" name="password" required="" placeholder="Login Pin (Max 4)" maxlength="4"> </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12 font-14">
                                <div class="checkbox checkbox-primary pull-left p-t-0">
                                    <input id="checkbox-signup" type="checkbox">
                                    <label for="checkbox-signup"> Remember me </label>
                                </div> 
                            </div>
                        </div>
                        <div class="form-group text-center m-t-20">
                            <div class="col-xs-12">
                                <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Log In</button>
                            </div>
                        </div>
                        <div class="form-group m-b-0">
                            <div class="col-sm-12 text-center">
                                <div>Don't have account? <a href="/merchant/register" class="text-info m-l-5"><b>Become Merchant</b></a></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="{% static 'merchant/assets/plugins/jquery/jquery.min.js'%}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static 'merchant/assets/plugins/bootstrap/js/popper.min.js'%}"></script>
    <script src="{% static 'merchant/assets/plugins/bootstrap/js/bootstrap.min.js'%}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="{% static 'merchant/js/jquery.slimscroll.js'%}"></script>
    <!--Wave Effects -->
    <script src="{% static 'merchant/js/waves.js'%}"></script>
    <!--Menu sidebar -->
    <script src="{% static 'merchant/js/sidebarmenu.js'%}"></script>
    <!--stickey kit -->
    <script src="{% static 'merchant/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js'%}"></script>
    <script src="{% static 'merchant/assets/plugins/sparkline/jquery.sparkline.min.js'%}"></script>
    <!--Custom JavaScript -->
    <script src="{% static 'merchant/js/custom.min.js'%}"></script>
    <!-- ============================================================== -->
    <!-- Style switcher -->
    <!-- ============================================================== -->
    <script src="{% static 'merchant/assets/plugins/styleswitcher/jQuery.style.switcher.js'%}"></script>
</body>
</html>