{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}

<body class="dashboard">

    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>

    <div id="main-wrapper">

        {% include 'header.html' %}

        {% include 'welcome.html' %}

        <div class="buy_sell mb-80">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="buy-sell-widget">
                                    <ul class="nav nav-tabs">
                                        <li class="nav-item"><a class="nav-link active" data-toggle="tab"
                                            href="#buy">Wallet Transfer</a>
                                        </li>
                                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#sell">Bank Transfer</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content tab-content-default">
                                        <div class="tab-pane fade show active" id="buy" role="tabpanel">
                                            <form method="post" name="myform" id="walletpay" class="currency_validate">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <label class="mr-sm-2">Wallet ID(Mobile Number)</label>
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <label class="input-group-text"><i
                                                                class="fa fa-bank"></i></label>
                                                            </div>
                                                            <input type="text" class="form-control" name="mobile" id="mobile" placeholder="Wallet ID(Mobile Number)" oninput="walloadinfo()" maxlength="11" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="mr-sm-2">Enter your amount</label>
                                                        <div class="input-group">
                                                            <input type="number" step="any" name="amount" id="amount" class="form-control" placeholder="Amount">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="mr-sm-2">Payment Description</label>
                                                        <div class="input-group">
                                                            <input type="text" name="desc" id="desc" class="form-control" placeholder="Payment Description">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="mr-sm-2">Transaction PIN</label>
                                                        <div class="input-group">
                                                            <input type="text" name="pin" id="pin" class="form-control" placeholder="Transaction PIN" maxlength="4">
                                                        </div>
                                                    </div>
                                                    <button type="submit" id="submit" style="display:none;" class="btn btn-success btn-block">COMPLETE PROCESS</button>

                                                </form>
                                            </div>
                                            <div class="tab-pane fade" id="sell">
                                                <form method="post" name="myform" class="currency2_validate">
                                                    {% csrf_token %}
                                                    <div class="form-group">
                                                        <label class="mr-sm-2">Currency</label>
                                                        <div class="input-group mb-3">
                                                            <div class="input-group-prepend">
                                                                <label class="input-group-text"><i
                                                                    class="fa fa-bank"></i></label>
                                                                </div>
                                                                <input type="text" class="form-control" id="acctno" name="acctno" value="" placeholder="Account Number" oninput="loadinfo()" maxlength="10" required>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="mr-sm-2">Payment Method</label>
                                                            <div class="input-group mb-3">
                                                                <div class="input-group-prepend">
                                                                    <label class="input-group-text"><i
                                                                        class="fa fa-bank"></i></label>
                                                                    </div>
                                                                    <select class="form-control" id="banks" name="banks" oninput="wloadinfo()">
                                                                        <option value="">Select</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="mr-sm-2">Enter your Amount</label>
                                                                <div class="input-group">
                                                                    <input type="text" name="amount" id="amount2" class="form-control" placeholder="Amount">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="mr-sm-2">Payment Description</label>
                                                                <div class="input-group">
                                                                    <input type="text" name="desc" class="form-control" placeholder="Payment Description">
                                                                </div>
                                                            </div>
                                                            <button type="submit" id="submit2" style="display:none;" name="submit"class="btn btn-success btn-block">COMPLETE PROCESS</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-7 col-lg-7 col-md-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="buyer-seller">
                                                
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <tbody>
                                                            <tr>
                                                                <td><span class="text-primary">RECEIVER'S ACCOUNT</span></td>
                                                                <td><span class="text-primary"><div id="acctNos" class="button-success"></div></span></td>
                                                            </tr>
                                                            <tr>
                                                                <td>RECEIVER'S NAME</td>
                                                                <td><div id="fullname" class="button-success"></div></td>
                                                            </tr>
                                                            
                                                            <tr>
                                                                <td>Fee</td>
                                                                <td><div id="fee" class="button-success"></div></td>
                                                            </tr>
                                                            
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            
                        </div>
                    </div>
                    <script src="{% static 'jquery-2.2.4.min.js'%}"></script>
                    <script type="text/javascript">
                        function loadinfo(){
                            var acctno = $("#acctno").val();
                            if (acctno.length == 10) {
                                $.ajax({
                                    url:'/sendmoney',
                                    type:'POST',
                                    data:{
                                        "acctno": acctno,
                                        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                                    },
                                    dataType: 'json',
                                    success:function(response){
                                        console.log(response)
                                        var len = response.length;
                                        console.log(len)
                                        for( var i = 0; i<len; i++){
                                            var name = response[i]['name'];
                                            console.log(name)
                                            var code = response[i]['code'];
                                            $("#banks").append("<option value='"+code+"'>"+name+"</option>");
                                        }
                                    }
                                });
                            }
                        }
                    </script>

                    <script type="text/javascript">
                     function wloadinfo(){
                        var acctno = $("#acctno").val();
                        var banks = $("#banks").val();
                        $.ajax({
                          url:'/bankverify',
                          method:'POST',
                          data:{
                            "acctno": acctno,
                            "banks": banks,
                            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                        },
                        success: function(data){
                            $("#fullname").empty();
                            $("#acctNos").empty();
                            $("#fee").empty();
                            $("#fullname").append(data.fullname);
                            $("#acctNos").append(data.acctNos);
                            $("#fee").append(data.fee);
                        }
                    });
                    }
                </script>

                <script type="text/javascript">
                     function walloadinfo(){
                        var mobile = $("#mobile").val();
                        if (mobile.length == 11) {
                        $.ajax({
                          url:'/walletverify',
                          method:'POST',
                          data:{
                            "mobile": mobile,
                            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                        },
                        success: function(data){
                            $("#fullname").empty();
                            $("#acctNos").empty();
                            $("#fee").empty();
                            $("#fullname").append(data.fullname);
                            $("#acctNos").append(data.acctNos);
                            $("#fee").append(data.fee);
                        }
                    });
                    }
                     }
                </script>
                
                <script type="text/javascript">
                    var bal = {{user_wallet.bal}};
                    var ruser = {{user.mobile}};
                     $("#amount").keyup(function() {
                        if (bal < $('#amount').val() || $('#amount').val() == '' || $('#amount').val() == '0' || $('#amount').val() < 100 || $('#mobile').val() == ruser) 
                            $("#submit").hide();
                        else 
                            $("#submit").show();
                        });
                </script>

                <script type="text/javascript">
                    var bal = {{user_wallet.bal}};
                     $("#amount2").keyup(function() {
                        if (bal < $('#amount2').val() || $('#amount2').val() == '' || $('#amount2').val() == '0' || $('#amount2').val() < 200) 
                            $("#submit2").hide();
                        else
                            $("#submit2").show();
                        });
                </script>

                <script src="{% static 'sweetalert.min.js'%}"></script>
                <script type="text/javascript">
                 $(document).on('submit', '#walletpay',function(e){
                  e.preventDefault();
                  $("#submit").attr("disabled", true);
                  $.ajax({
                   type:'POST',
                   url:'/walletpay',
                   data:{
                    desc:$('#desc').val(),
                    amount:$('#amount').val(),
                    mobile:$('#mobile').val(),
                    pin:$('#pin').val(),
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                  },
                  success:function(data){
                    document.getElementById("walletpay").reset();
                    swal({
                      title: data.reason,
                      text: data.message,
                      icon: "success",
                      type: "success"
                    }).then(function() {
                      window.location = "/sendmoney";
                    });
                  },
                  error : function(data) {
                    document.getElementById("walletpay").reset();
                    swal({
                      title: "Faill",
                      text: data.responseJSON.message,
                      icon: "error",
                      type: "error"
                    }).then(function() {
                      window.location = "/sendmoney";
                    });
                  }
                });
                });
              </script>

                {% comment %} <script>
                    $(document).ready(function () {

                        $("#formABC").submit(function (e) {

                        //stop submitting the form to see the disabled button effect
                        e.preventDefault();

                        //disable the submit button
                        $("#submit").attr("disabled", true);


                        return true;

                        });
                    });
                </script> {% endcomment %}

                {% include 'footer.html' %}
            </div>



            {% include 'foot.html' %}
        </body>
        </html>