{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register - Payflat </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'home/images/favicon.png'%}">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="{% static 'home/vendor/waves/waves.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'merchant/css/toastr.css' %}" media="all">
    <script type="text/javascript" src="{% static 'merchant/js/toastr.min.js' %}"></script>  
    <link rel="stylesheet" href="{% static 'home/vendor/owlcarousel/css/owl.carousel.min.css'%}">
    <link rel="stylesheet" href="{% static 'home/css/style.css'%}">
</head>

<body>

    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>

    <div id="main-wrapper">

        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <nav class="navbar navbar-expand-lg navbar-light px-0 justify-content-between">
                            <a class="navbar-brand" href="/"><img src="{% static 'home/images/w_logo.png'%}" alt="">
                                <span>Payflat</span></a>

                            <div class="dashboard_log">
                                <div class="d-flex align-items-center">
                                    <div class="header_auth">
                                        <a href="/login" class="btn btn-success  mx-2">Sign In</a>
                                        <a href="/signup" class="btn btn-outline-primary  mx-2">Sign Up</a>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success'%}
                    <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
                {% elif message.tags == 'info' %}
                    <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
                {% elif message.tags == 'warning' %}
                    <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
                {% elif message.tags == 'error' %}
                    <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
                {% endif %}
            {% endfor %}
        {% endif %}
        <div class="authincation section-padding">
            <div class="container h-100">
                <div class="row justify-content-center h-100 align-items-center">
                    <div class="col-xl-4 col-md-6">
                        <div class="auth-form card">
                            <div class="card-header justify-content-center">
                                <h4 class="card-title">Sign up your account</h4>
                            </div>
                            <div class="card-body">
                                    <form method="post" name="myform" class="signup_validate">
                                    <div class="form-group">
                                        <label>Username</label>
                                        <input type="text" class="form-control" placeholder="username" name="username">
                                    </div>
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="email" class="form-control" placeholder="hello@example.com" name="email">
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="password" class="form-control" placeholder="Password" name="password">
                                    </div>
                                    <div class="text-center mt-4">
                                        <button type="submit" class="btn btn-success btn-block">Sign up</button>
                                    </div>
                                </form>
                                <div class="new-account mt-3">
                                    <p>Already have an account? <a class="text-primary" href="/login">Sign in</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include 'lfooter.html' %}
    </div>


    <div class="bg_icons"></div>

    <script src="{% static 'home/vendor/jquery/jquery.min.js'%}"></script>
    <script src="{% static 'home/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'home/vendor/waves/waves.min.js'%}"></script>
    
    <script src="{% static 'home/vendor/validator/jquery.validate.js'%}"></script>
    <script src="{% static 'home/vendor/validator/validator-init.js'%}"></script>
    <script src="{% static 'home/js/scripts.js'%}"></script>
</body>
</html>